@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&display=swap');

/* Create a reusable class */
.georama-custom {
  font-family: "Georama", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100; /* Change to 700 for bold, etc. */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
